img {
    height: 500px;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-size: 50px;
}

p{
    text-align: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    line-height: 25px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e2efe1;
}

header {
    position: relative;
}

.menu-affichage {
    display: none;
}

.menu-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.menu-btn:hover {
    background-color: #000;
}

.navbar {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #86c1fc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
}

.menu-affichage:checked + .menu-btn + .navbar {
    display: block;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu > li {
    position: relative;
}

.menu > li > a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
}

.menu > li > a:hover {
    background-color: #444;
}

.submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #bfdefc;
    border-radius: 5px;
    padding: 0;
    list-style: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.submenu li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 8px 20px;
    font-size: 14px;
}

.submenu li a:hover {
    background-color: #5b7b95;
}

.menu li:hover .submenu {
    display: block;
}

footer {
    background-color: #484848;
    color: white;
    padding: 40px;
    font-family: Arial, sans-serif;
    margin-top: 30%;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-logo {
    flex: 1;
    min-width: 200px;
    text-align: left;
  }
  
  .footer-logo img {
    width: 280px;
    height: auto;
    margin-top: -20%;
    margin-left: -10%;
  }
  
  .footer-links {
    flex: 1;
    min-width: 200px;
  }
  
  .footer-links h4 ,  .footer-socials h4 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .footer-links ul , .social-icons ul{
    list-style: none;
    padding: 0;
  }
  
  .footer-links li , .social-icons li{
    margin-bottom: 10px;
  }
  
  .footer-links a , .footer-socials, .social-icons a{
    text-decoration: none;
    color: #f0f0f0;
    transition: color 0.3s;
  }
  
  .footer-links a:hover, .social-icons a:hover {
    color: #00bcd4;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #bbb;
  }
