body {
    background-color: aqua;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    display: block;
    margin: auto;
    height: 650px;
    width: 1400px;
}

.menu {
    display: block;
}

h1 {
    display: block;
    margin:auto
}

.logo{
    height: 300px;
    width: 300px;
    margin-left: 0%;
}